@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
margin: 0;
padding: 0;
background-color: #fff;
font-family: "Inter", sans-serif;
}

.webpage-title {
font-size: 5rem;
color: #354570;
text-align: center;
margin-top: 2rem;
}

.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#brick-map-container {
display: flex;
width: 85%;
justify-content: center;
align-items: center;
margin-bottom: 5rem;
opacity: 0;
transition: opacity 1s ease-in-out;
}

#loading {
    opacity: 0;
    animation: fadeIn 1s forwards;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    color: #354570;
    text-align: center;
    margin: 2rem auto;
  
    &.hidden {
      display: none;
    }
  }
  
  #brick-map-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  
    &.visible {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

